:root {
    --brand: rgb(91, 94, 99);
    --text: white;
}

body {
    background: #191919;
    color: #eaeaea;
}

.page_header {
    position: relative;
    background: #323232;
}

.home_button {
    position: absolute;
    width: 145px;
    height: 42px;
    background: url(https://i.imgur.com/fgT70d9.png) no-repeat;
	/* на нг https://i.imgur.com/j42w8Pm.png) */
	/* стандарт https://i.imgur.com/fgT70d9.png) */
    background-position-y: 0px;
    background-position-x: 7px;
}
.home_button:active {
    background: url(https://i.imgur.com/fgT70d9.png) no-repeat;
	/* на нг https://i.imgur.com/j42w8Pm.png) */
	/* стандарт https://i.imgur.com/fgT70d9.png) */
    background-position-y: 1px;
    background-position-x: 7px;
}
.header_navigation {
    text-transform: lowercase;
}
.header_navigation .link {
    display: inline-block;
    background-size: 1.5px 41px;
    background: none;
}
.header_navigation .link a {
    color: #bfbfbf;
    text-decoration: none;
    font-weight: bold;
}
.header_navigation .link a:hover {
    text-decoration: underline;
    color: #fff;
}
.navigation {
    padding: 0;
}
.navigation .link {
    background: none;
    color: gray;
    border-top: 1px solid #353535;
}
.navigation .link object b, 
.navigation .link object a {
    color: #bbbbbb;
}
.navigation .edit-button {
    display: none;
}
.navigation .link:hover {
    background-color: #353535;
    border-top: none;
}
.navigation_footer .link {
    display: block;
    background: #191919;
    border-radius: 2px;
}
.navigation_footer .link:hover {
    background-color: #191919;
    border-top: none;
    background: #191919;
}
.page_body {
    font-size: 11px;
    text-align: left;
    background: #222222;
}
.wrap1 {
    border: 1px solid #191919;
    border-top: 0px;
}
.wrap2 {
    border-right: 1px solid #f6f8fa;
    border-top: 0px;
}
.profileName h2 {
    color: #e1e1e1;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}
.page_yellowheader {
    font-weight: bold;
    background: #252525;
    background-color: #252525;
    border-right: solid 1px #222222;
    border-left: solid 1px #222222;
    border-top: none;
    border-bottom: 1px solid #1e1e1e;
    color: #e1e1e1;
}
#wrapHI {
    border-right: solid 1px #1c1c1c;
    border-left: solid 1px #1c1c1c;
}
#wrapH {
    border-right: solid 1px #1a1a1a;
    border-left: solid 1px #1a1a1a;
}
.page_yellowheader span {
    color: #e1e1e1;
}
.page_yellowheader a {
    color: #e1e1e1;
}
.page_content {
    display: inline-block;
    width: 610px;
}
.page_wrap {
    border-bottom: solid 1px #fff0;
    border-left: solid 1px #fff0;
    border-right: solid 1px #fff0;
}
#auth.page-wrap {
    border-left: solid 1px #1c1c1c;
    border-right: solid 1px #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
}
.content-main-tile {
    border-top: 1px solid #ebf0f4;
    background-color: #fbfbfb;
}
img.name-checkmark {
    margin-bottom: -1px;
    content: url(/themepack/vkdark/0.0.1.0/resource/3.png);
}
.post-author img.name-checkmark {
    content: url(/themepack/vkdark/0.0.1.0/resource/4.png);
    margin-left: 0px;
    margin-bottom: 0.3px;
    width: 10px;
}
#profile_link,
.profile_link {
    display: block;
    box-sizing: border-box;
    background: transparent;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 11px;
    color: #fff;
    text-align: left;
    cursor: pointer;
}
#profile_link:hover,
.profile_link:hover {
    background: #333;
    border-bottom: 1px solid #333;
}
table {
    font-size: 11px;
    text-align: left;
}
.information {
    padding: 9px;
    background-color: #c3e4ff;
}
.error {
    padding: 9px;
    background-color: #ffc3c3;
}
.page_footer .link {
    display: inline-block;
    color: #7a7a7a;
    text-decoration: none;
}
.page_footer .link:hover {
    background-color: #202020;
    border-top: none;
    border-radius: 2px;
}
.content_divider {
    margin-bottom: 6px;
}
.accountInfo {
    border-bottom: solid 1px #353535;
}
.heart {
    filter: invert(100);
}
.page_status {
    font-weight: normal;
    font-size: 11px;
    color: #888888;
    width: 380px;
    max-height: 39px;
    height: auto !important;
}
.button {
    border-radius: 2px;
    border: #424242;
    font-size: 11px;
    outline: none;
    white-space: nowrap;
    background: #424242;
    background-position: 0px -16px;
    color: #fff;
    padding: 4px 8px 4px;
    text-shadow: 0 1px 0 #424242;
    cursor: pointer;
    text-decoration: none;
}
input[class="button"] {
    padding: 5px 7px 4px;
    padding-top: 7px;
    padding-bottom: 7px;
}
input[class="button"]:hover {
    background: #4f4f4f;
}
input[class="button"]:active {
    background: #353535;
    padding-top: 8px;
    padding-bottom: 6px;
}
#auth {
    padding: 10px;
}
.left_small_block {
    border-right: 1px #313131 solid;
}
.left_big_block {
    width: 397px;
    float: left;
    margin-right: 13px;
}
.right_small_block {
    float: right;
    width: 200px;
}
.right_big_block {
    width: 399px;
    float: right;
}
.content_title_expanded,
.content_title_unexpanded {
    background-color: #4a4a4a;
    background-image: unset !important;
    border-top: none;
    border-bottom: #4a4a4a solid 1px;
    font-weight: bold;
    color: #eee;
    font-size: 11px;
    display: block;
}
.content_subtitle {
    background-color: #686868;
    padding: 0;
    display: block;
    font-size: 11px;
    border-bottom: 1px solid #686868;
    color: #cacaca;
    border-top: #313131 solid 1px;
}
.content {
    padding: 8px;
}
.content-withouttop {
    padding-top: 0px;
}
input[type="text"],
input[type="password"],
input[type~="text"],
input[type~="password"],
input[type="email"],
input[type="phone"],
input[type~="email"],
input[type~="phone"],
input[type="search"],
select {
    border: 1px solid #c3cbd4;
    padding: 3px;
    font-size: 11px;
    font-family: tahoma, verdana, arial, sans-serif;
    height: 26px;
}
h4 {
    border-bottom: 1px solid #424242;
    color: #e1e1e1;
    font-size: 12px;
    font-weight: bold;
    font-family: verdana, arial, sans-serif;
}
h1 {
    color: #a8a8a8;
}
p {
    color: #e1e1e1;
}
.text {
    color: #eaeaea;
}
.post-author {
    background-color: #222222;
    border-top: #404040 solid 1px;
    border-bottom: #222222 solid 1px;
    font-size: 11px;
    padding: 3px 5px 3px;
    color: #fff;
}
.post-author .date {
    font-size: 9px;
    color: #fff;
}
.post-author b {
    color: #ececec;
}
.post-content {
    border-bottom: #404040 solid 1px;
    font-size: 9px;
}
.post-content .text {
    padding: 4px;
    font-size: 11px;
    word-break: break-word;
    word-wrap: break-word;
    hyphens: manual;
    color: #eaeaea;
}
.post-content .attachments_b {
    margin-top: 8px;
}
.attachment .post {
    width: 102%;
}
.post-content img.media {
    max-width: 100%;
    image-rendering: -webkit-optimize-contrast;
}
.post-menu {
    height: 12px;
    padding: 4px;
    font-size: 9px;
    color: #bcbcbc;
}
.post-menu > div {
    filter: grayscale(100%);
}
.post-like-button {
    color: #ffffffa3;
    filter: grayscale(100%);
}
.post-menu > a:hover {
    text-decoration: underline;
}
ul {
    list-style-type: square;
    color: #a2a2a2;
}
span {
    padding: 0 0 2px;
    color: #e1e1e1;
    font-weight: normal;
}
.container_gray {
    background: none;
    border-top: #fff0 solid 1px;
}
.container_gray .content {
    background: #fff;
    border: #d9e0e7 solid 1px;
    clear: both;
}
.container_gray .content span {
    color: #b0b0b0;
}
.tabs {
    border-bottom: 1px solid #404040;
}
#activetabs {
    background: #404040;
    border-radius: 3px 3px 0px 0px;
}
.tab {
    display: inline-block;
}
.tab a {
    color: #a0a0a0;
}
.settings_delete {
    background: #231212;
}
.tab:hover {
    border-radius: 3px 3px 0px 0px;
    background: #313131;
}
#act_tab_a {
    color: white;
}
.container_gray .content {
    background: #fff0;
    padding: 4px;
    border: #404040 solid 1px;
    clear: both;
    margin-bottom: 12px;
}
.gray-block {
    background: #f7f7f700;
    border: #404040 solid 1px;
}
.msg {
    width: 70%;
    margin: auto;
    margin-bottom: 5pt;
    padding: 8pt;
    border: 1pt solid #667e96;
    background-color: #e6f2f3;
}
#wrapHI > .msg {
    margin-top: 15pt;
}
.msg.msg_succ {
    border-color: #3b584f;
    background-color: #2b4224;
}
.msg.msg_err {
    border-color: #9a205e;
    background-color: #4d2f36;
}
.edit_link {
    color: #c5c5c5;
}
textarea {
    font-family: unset;
    border: 1px solid #202020;
    font-size: 9pt;
    background: #333;
    color: #eaeaea;
}
#faqhead {
    background: #464646;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #222;
}
#faqcontent {
    background: #2d2d2d;
    border-left: 1px solid #171717;
    border-right: 1px solid #171717;
    border-bottom: 1px solid #171717;
    border-top: none;
}
.profile-hints a img {
    vertical-align: bottom;
    content: url(/themepack/vkdark/0.0.1.0/resource/5.png);
}
.completeness-gauge {
    position: relative;
    width: 95%;
    height: 20px;
    background-color: #5b5b5b;
}
.completeness-gauge > div {
    height: 100%;
    background-color: #4a4a4a;
}
.completeness-gauge > span {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.toTop {
    position: fixed;
    background-color: #393939;
    font-weight: 900;
    color: #fff;
    box-sizing: border-box;
    opacity: 0;
    transition: 0.1s all;
}
body.scrolled .toTop:hover {
    opacity: 0.5;
    cursor: pointer;
}
td {
    color: #bbbbbb;
}
.psa-poster {
    border-width: 1px;
    background: #262626;
}
.right_big_block > div:nth-of-type(2) > div:nth-of-type(2) {
    padding: 3px 0px !important;
}
.navigation > .navigation_infos {
    background: #353535 !important;
}
hr {
    border-color: #404040;
    border-top: none;
}
.e {
    background-color: #2d2d2d;
    font-weight: bold;
}
.v {
    background-color: #2d2d2d;
}
.h {
    background-color: #6c6c6c;
    background: #6c6c6c;
    color: #fff;
}
.h h1 {
    color: #fff;
}
table {
    box-shadow: 1px 2px 3px #ccc0;
}
.name-checkmark {
    filter: grayscale(100%);
}
body.dimmed > .dimmer {
    background-color: #000;
}

.ovk-diag-cont {
    background-color: #c7bdbd94;
}
.ovk-diag {
    background-color: #222222;
    border: 1px solid #3e3e3e;
}
.ovk-diag-head {
    background-color: #191919;
    border-bottom: 1px solid #191919;
    color: #fff;
}

.ovk-diag-action {
    background-color: #191919;
}

#wallAttachmentMenu {
    position: absolute;
    margin-top: 20px;
    border: 1px solid darkgrey;
    background-color: #222222;
    z-index: 32;
}
#wallAttachmentMenu > a {
    display: block;
    padding: 2px 6px;
    cursor: pointer;
}

#wallAttachmentMenu > a > img {
    vertical-align: middle;
}

#wallAttachmentMenu > a:hover {
    background-color: #444343;
}
.page_status_popup {
    border: 1px solid #191919;
    background-color: #222222;
}
.paginator a:hover {
    border-top: 3px solid #828282;
    background-color: #313131;
}
.accent-box {
    background-color: #222222;
    border: 1px solid #424242;
}
.post-divider {
    border-bottom: 1px #404040 solid;
}
.commentsTextFieldWrap {
    background-color: #222;
    border: 1px solid #222;
}
.comment {
    padding: 5px 0 0 0;
    border-top: 1px #404040 solid;
}
.gift_sel:hover {
    background-color: #444343;
}
.messagebox-content-header {
    background: #333333;
}
.post-share-button:hover, .post-like-button:hover {
    background-color: rgb(51 51 51);
}
.postFeedWrapper {
    background-color: rgb(34 34 34);
    border-bottom: 1px solid #404040;
}
.topic-list-item {
    border-bottom: #424242 solid 1px;
    padding: 4px;
}
.menu_divider {
    background: #424242;
}
.expand_button {
    background-color: #404040;
}

.expand_button:hover {
    background-color: #333333;
}

select,
input {
    background: #2c2c2c;
    color: white;
    border: 1px solid #404040;
}

.audioEntry:hover {
    background: #686868;
}

#backdrop {
    filter: brightness(0.5);
}
