/*
!.gitattributes
!.gitignore
!COPYING
!README.md
!README.RU.md
!THEMES.md
!dmtheme
!fb2005
!fb2005
!midnight
!nature
!openvk_modern
!OVKWinXP
!spacepink
!vk
!vk2
!vk2006
!vk2006beta
!vk2007
!vk2012
!vk2015
!vk2015dark
!vkdark
!vriska
!vs
!vtlenu
