:root {
    --brand: black;
}

span {
    color: gray;
}

ul {
    list-style-type: square;
    color: #a2a2a2;
}

.nobold {
    font-weight: normal;
    color: gray;
}

a {
    color: #000;
}

textarea {
    font-family: unset;
    border: 1px solid #d5d5d5;
    font-size: 9pt;
    min-height: 42px;
}

.page_header {
    margin-bottom: 2px;
    background-position: 0;
    background: url(/themepack/vtlenu/0.0.1.0/resource/1.png) no-repeat;
    /* https://i.imgur.com/NUWhKyn.png */
}

.home_button {
    background: unset !important;
}

/*.home_button {
    position: absolute;
    width: 145px;    
    text-indent: -999px;
    height: 42px;
}

.home_button:active {
    background-image: url(/themepack/vtlenu/0.0.1.0/resource/2.png);
    background-position-y: 0px;
    background-position-x: 0pt;
    width: 220px;
    height: 42px;
    background-repeat: no-repeat;
}*/

/*.home_button {
    background: url(https://i.imgur.com/8WZCSPU.png) no-repeat;
    position: absolute;
    width: 145px;    
    text-indent: -999px;
    height: 42px;
}


.home_button:active {
    background-position-y: 1px;
    background-position-x: 0pt;
    width: 220px;
    height: 42px;
    background-repeat: no-repeat;
}*/

.header_navigation .link {
    background: none;
}

/*.header_navigation {
    text-align: center;
    line-height: 20px;
    padding-right: 8px;
    text-transform: lowercase;
    float: right;
    padding-top: 10px;
}

.header_navigation .link {
    display: inline-block;
    height: 29px;
    padding: 11px 4px 0 5px;
    background-size: 1.5px 41px;
    background: none;
    margin-top: -14px;
}

.header_navigation .link a {
  color: #e7e7e7;
  text-decoration: none;
  font-weight: bold;
}

.header_navigation .link a:hover {
    text-decoration: underline;
    color: #fff;
}*/

.navigation .link {
    color: #000;
    font-size: 11px;
    cursor: pointer;
    background: none;
}

.navigation .link:hover {
    background-color: #e3e3e3;
}

.navigation_footer {
    padding: 0;
}

.navigation_footer .link {
    padding: 3px 3px 3px 6px;
    text-decoration: none;
    border-top: 1px solid #fff; /* fix */
    color: #000;
}

.navigation_footer .link:hover {
    background-color: #E4E4E4;
    border-top: 1px solid #CCCCCC;
}

.wrap1 {
    border: 1px solid #f2f2f2;
    border-top: 0px;
}

.wrap2 {
    border-right: 1px solid #F6F8FA;
    border-top: 0px;
}

.page_yellowheader {
    /* padding: 5px 10px 6px; */
    padding: 5px 10px 5px;
    font-weight: bold;
    background: #d9d9d9;
    background-color: #d9d9d9;
    border-right: solid 1px #d9d9d9;
    border-left: solid 1px #d9d9d9;
    color: #000;
    border-bottom: #d9d9d9;
}

/* .page_yellowheader {
    padding: 6px 10px 7px;
    font-weight: bold;
    background: #d9d9d9;
    background-color: #d9d9d9;
    border-right: solid 1px #d9d9d9;
    border-left: solid 1px #d9d9d9;
    border-bottom: solid 1px #d9d9d9;
    color: #000;
    margin-top: -3px;
} */

#wrapHI {
    border-right: solid 1px #dee3e7;
    border-left: solid 1px #dee3e7;
}

#wrapH {
    border-right: solid 1px #f7f3f7;
    border-left: solid 1px #f7f3f7;
}

.profileName h2 {
    color: #000;
}

.page_yellowheader span {
    color: #000;
}

.page_yellowheader a {
    color: #000;
}

.post > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) > img:nth-child(1) {
    filter: grayscale(50%)
}

.heart {
    filter: grayscale(100%);
}

.content-main-tile {
    border-top: 1px solid #ebf0f4;
    background-color: #fbfbfb;
}

.album-photo {
    background-color: darkgrey;
}

img.name-checkmark {
    content: url(/themepack/vtlenu/0.0.1.0/resource/check.png);
}

.post-author img.name-checkmark {
    content: url(/themepack/vtlenu/0.0.1.0/resource/check2.png);
    filter: grayscale(100%);
}

#profile_link, .profile_link {
    border-bottom: 1px solid #fff;
    color: #000;
}

#profile_link:hover, .profile_link:hover {
    background: #e3e3e3;
    border-bottom: 1px solid #fff;
}

.information {
    padding: 9px;
    background-color: #c3e4ff;
}

.error {
    padding: 9px;
    background-color: #ffc3c3;
}

/* kun vi tre agrable pensi pri morto 

������ ��� �� ����� �������� ���� 
����� ��� �� ����
� ������ ������, �������� �� 
����������� ����������� � CSS ���� 
<3                                      */

.page_footer .link {
    color: #444;
    border-top: none;
    text-decoration: none;
}

.page_footer .link:hover {
    background-color: #e3e3e3;
    border-radius: 2px;
}

.page_info {
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.page_status {
    font-weight: normal;
    font-size: 11px;
    padding: 3px 1px 3px;
    color: #000;
    height: auto !important;
}
/* 

� ��� ����
� ������ �� ����

*/

/* ������ */

.button {
    border-radius: 2px;
    border: #000;
    font-size: 11px;
    background: #000;
    background-position: 0px -16px;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    cursor: pointer;
}

.checkbox {
  background-image: url("data:image/gif;base64,R0lGODlhDwA4AKIHANrh6P///8DK1a22wF+DpbfAy9/l6v///yH5BAEAAAcALAAAAAAPADgAAAOzKLrMJyHKGcWjOFiY5+7eBVbi+I1aCZ6m2rGrm21NrTx2LWMEwYE93yho+PF6gmKHyCJIiEVRMABNcQzBnsFAumK13K5kS9iGjNuwBPbC5RyDuHw+PwwA+LweP7Dv/wB9d4B6goSFfod8iYqGioGMh46NkYSTkpWAgnSccXadnJl/PYOHQaWAQQWoe6qrhK6MBHmujkEArpCDBVkEBQWLu7w9v3mTv77AxpG/ysusmp+gdQkAOw==");
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  height: 14px;
  width: 14px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}

.checkbox:hover {
  background-position: 0 -28px;
}

.checkbox:checked {
  background-position: 0 -14px;
}

.left_small_block .avatar_block {
    filter: grayscale(50%);
}

.content_title_expanded, .content_title_unexpanded {
    background-color: #c6c7c6;
    background-image: unset !important;
    border-top: none;
    border-bottom: #c6c7c6 solid 1px;
    font-weight: bold;
    color: #000;
    font-size: 11px;
    display: block;
    padding: 3px 10px;
}

.content_subtitle {
    background-color: #ececec;
    padding: 0;
    display: block;
    font-size: 11px;
    border-bottom: 1px solid /* #f7f3f7 */ #ececec;
    color: #666666;
    padding: 3px 8px;
    border-top: #ececec solid 1px;
}

input[type="text"], input[type="password"], input[type~="text"], input[type~="password"], input[type="email"], input[type="phone"], input[type~="email"], input[type~="phone"], input[type="search"], select {
    border: 1px solid #aeaeae;
    font-size: 11px;
    font-family: tahoma, verdana, arial, sans-serif;
}

/*#search_box_fr input[type="search"] {
     background: url(https://i.imgur.com/8KtCFDd.gif) no-repeat 3px 4px;
    width: 169px;
    position: absolute;
    background-color: #fff;
    padding-left: 23px;
    width: 120px;
    background-position-y: 5px;
    background-position-x: 5px; 
    margin-left: -630px;
    margin-top: 0px;
    border: 1px solid #1a1a1a;
    padding: 3px;
    font-size: 11px;
    font-family: tahoma, verdana, arial, sans-serif;
    border-radius: 3px;
    height: 22px;
}*/

/* post */

.post-author .date {
    color: black;
}

.post-content {
    border-bottom: #F1F1F1 solid 1px;
}

.post img {
    filter: grayscale(20%);
}

.post-menu {
    color: #bcbcbc;
}

/* .post-menu > a:hover {
    background:#e2e8ee;
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.post-menu > a {
    padding-left:2px;
    padding-right: 2px;
}
*/

.post-menu > a:hover {
    text-decoration: underline;
}

.ovk-avView--el .ava {
    filter: grayscale(50%);
}

.container_gray {
    background: #fff;
    border-top: #fff solid 1px;
}

#activetabs {
    background: #000;
}

.container_gray .content {
    background: #fff;
    border: #DEDEDE solid 1px;
}

.gray-block {
    background: #F7F7F7;
    border: #DEDEDE solid 1px;
}

.msg.msg_succ {
    border-color: #32423d;
    background-color: #ebf7e8;
}

.msg.msg_err {
    border-color: #66163e;
    background-color: #f2e7ea;
}

.edit_link {
    color: #c5c5c5;
    font-size: 11px;
    font-weight: bold;
}

.settings_delete {
    background: #fff;
}

#faqhead {
    background: #3c3c3c;
    font-weight: bold;
    border: 1px solid #000;
    border-bottom: 0px;
    color: #fff;
}

#faqcontent {
    background: #fafafa;
    border: 1px solid #000;
}

.ovk-lw-container {
    border-bottom: solid 1px #c4c4c4;
}

.ovk-lw-container > .ovk-lw--list {
    border-right: 1px solid #BEBEBE;
}

.profile-hints a {
    display: block;
    margin-bottom: 2px;
}

.profile-hints a img {
    content: url(/themepack/vtlenu/0.0.1.0/resource/8.png);
}

.completeness-gauge {
    position: relative;
    background-color: #e8e8e8;
}

.completeness-gauge > div {
    height: 100%;
    background-color: #c4c4c4;
}

.psa-poster {
    filter: grayscale(100%);
}

.right_big_block > div:nth-of-type(2) > div:nth-of-type(2) {
    padding: 3px 5px!important;
}

/* input[type=checkbox]:checked {
  background-image: url("https://i.imgur.com/OltCRHG.png");
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  height: 15px;
  width: 15px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}
input[type=checkbox]:hover {
  background-image: url("https://i.imgur.com/M3Jl9h6.png");
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  height: 15px;
  width: 15px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}
input[type=checkbox]:checked:hover {
  background-image: url("https://i.imgur.com/96dsbpC.png");
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  height: 15px;
  width: 15px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
}
input[type=checkbox] {
  background-image: url("https://i.imgur.com/uGhAYMJ.png");
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  height: 15px;
  width: 15px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
} */
input[type=checkbox]:checked {
  background-image: url("/themepack/vtlenu/0.0.1.0/resource/4.png");
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  height: 14px;
  width: 15px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
    filter: grayscale(100%);
}
input[type=checkbox]:hover {
  background-image: url("/themepack/vtlenu/0.0.1.0/resource/5.png");
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  height: 14px;
  width: 15px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
    filter: grayscale(100%);
}
input[type=checkbox]:checked:hover {
  background-image: url("/themepack/vtlenu/0.0.1.0/resource/6.png");
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  height: 14px;
  width: 15px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
    filter: grayscale(100%);
}
input[type=checkbox] {
  background-image: url("/themepack/vtlenu/0.0.1.0/resource/7.png");
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  height: 14px;
  width: 15px;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
    filter: grayscale(100%);
}

hr {
    border-color: #d9e0e7;
    border-top: none;
}

body.dimmed>.dimmer {
    background-color: #313131d1;
}

.page_footer .link.link_lang {
    filter: grayscale(50%);
}

.messages--peers-tabs .messages--peers-tab.selected {
    background: black;
    border: 1px solid black;
}

.searchList #used, .verticalGrayTabs #used {
    background: black;
}
