body {
    margin: 0;
    padding: 0;
    background-color: #000;
    text-align: left;
    font-family: tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    word-break: break-word;
    word-wrap: break-word;
}
.page_header {
    background: url(https://i.imgur.com/xWxj9A5.png);
    /* background: url(https://i.imgur.com/4cbHvAE.png); */
}

.header_navigation .link {
    background: url(https://i.imgur.com/GpzysKJ.png) no-repeat;
}

.header_navigation .link a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.content_title_expanded {
    border-top: #fff solid 1px;
    background-color: #000;
    color: #fff;
}
.navigation .link {
color:#fff;
}
.navigation .link:hover {
    background: 
#242424;
border-top: 1px solid
    #fff;
}
.tabs {
    border-bottom: 1px solid 
    #36638E;
}
#activetabs {
    background: 
    #36638E;
}
.button {
    border-radius: 2px;
    border: #fff;
    font-size: 11px;
    outline: none;
    white-space: nowrap;
    background: #000;
    background-position: 0px -16px;
    color: #fff;
    padding: 4px 8px 4px;
    text-shadow: 0 1px 0 #000;
    cursor: pointer;
    text-decoration: none;
}
.navigation_footer .link:hover {

    border-top: 1px solid #CAD1D9;
    color: #fff;
    background: #DAE1E8;
}
.navigation_footer .link {
    color: #2B587A;
}
.button:hover {
    color: #DAE1E8;
    text-decoration: none;
}
#activetabs a:hover {
    color: #DAE1E8;
    text-decoration: none;
}
.tabs a:hover {
    color: #346991;
    text-decoration: none;
}
#act_tab_a:hover {
    color: #346991;
    text-decoration: none;
}
.post-author {
    background-color: #000;
    border-top: #fff solid 1px;
    border-bottom: #ECECEC solid 1px;
    font-size: 11px;
    padding: 3px 5px 3px;
}
.content_title_expanded {
    background-image: url(/themepack/vk2007/0.0.1.0/resource/4.gif);
}
.completeness-gauge-gold {
	background-color: #646464;
	border-top: 1px solid #646464;
}

.completeness-gauge-gold > div {
	background-color: #282828;
}
body.dimmed > .dimmer {
    z-index: 200;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

.ovk-diag-cont {
    z-index: 1024;
    position: fixed;
    width: 420px;
    min-height: 200px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #c7bdbd94;
}

.ovk-diag {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 400px;
    background-color: #fff;
    border: 1px solid #000;
}

.ovk-diag-head, .ovk-diag-body, .ovk-diag-action {
    width: 400px;
    box-sizing: border-box;
}

.ovk-diag-head {
    height: 25%;
    padding: 5px;
    background-color: #000;
    border-bottom: 1px solid #3e3e3e;
    color: #fff;
    font-weight: 900;
    font-size: 15px;
}

.ovk-diag-body {
    padding: 20px;
    min-height: 110px;
}

.ovk-diag-action {
    padding: 10px;
    height: 25%;
    background-color: #d4d4d4;
    text-align: right;
}

.ovk-diag-action > .button {
    margin-left: 10px;
}
a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.navigation .edit-button {
    background-color: #000 !important;
    color: #fff !important;
    position: absolute;
    right: 0;
}
.page_yellowheader {
    padding: 4px 10px 4px;
    font-weight: bold;
    background: url('../img/header_yellow.png') repeat-x;
    background-color: #000;
    border-right: solid 1px #000;
    border-left: solid 1px #000;
    border-bottom: solid 1px #000;
    overflow: hidden;
}
.page_yellowheader span {
    color: #fff;
}
.content_subtitle {
    background-color: #fff;
    padding: 0;
    display: block;
    font-size: 11px;
    border-bottom: 1px solid #EEEEEE;
    color: #777777;
    padding: 3px 8px;
    border-top: #ccc solid 1px;
}